    <footer id="subsol">
        <a href="#" id="link-top" title="Înapoi sus">
            <div id="cerc-sageata">
                <span id="sageata">&#8593;</span>
            </div>
            <span class="tooltip-text">Sari la începutul paginii</span>
        </a>
        <section id="info-contact">
            <h4>Contact Rapid</h4>
            <address>
                StackReader S.R.L.<br>
                Strada Academiei 14, București (lângă <a href="https://maps.app.goo.gl/355rA27wzKjXz4e7A"
                    target="_blank">Facultatea de Matematică și Informatică</a>)<br>
                E-mail: <a href="mailto:contact@stackreader.ro">contact@stackreader.ro</a><br>
                Tel: <a href="tel:+40721111111">+40 721 111 111</a><br>
                WhatsApp: <a href="https://wa.me/40721111111">Chat cu noi</a>
            </address>

            <div id="harta-iframe">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398441!2d26.09701177573258!3d44.435539301482414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1774856847070!5m2!1sen!2sro"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section id="footer-links">
            <h5>Link-uri Utile</h5>
            <nav>
                <ul>
                    <li><a href="/#logistica">Metode de Plată</a> </li>
                    <li><a href="/legal">Termeni şi Condiții</a></li>
                    <li><a href="https://anpc.ro" target="_blank">ANPC</a></li>
                </ul>
            </nav>
        </section>
        <p class="banner-proiect">Acesta este un proiect școlar!</p>
        <small>© <time datetime="2026-03-19">19 martie 2026</time> StackReader - Realizat de Niculae
            Maria-Alexandra</small>
    </footer>

</body>

</html>
