<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Niculae Maria-Alexandra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="StackReader este o platformă modernă de e-commerce dedicată pasionaților de lectură, oferind un portofoliu vast de titluri dintr-o multitudine de domenii de interes.">
    <meta name="keywords"
        content="StackReader, cărți, cumpără online, librărie București, recenzii, recomandări editoriale, noutăți, reducere, abonament, bibliotecă digitală">
    <link rel="icon" type="image/png" href="/resurse/ico/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resurse/ico/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resurse/ico/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/resurse/ico/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/resurse/css/general.css" />
    <link rel="stylesheet" href="/resurse/css/meniu.css" />
    <link rel="stylesheet" href="/resurse/css/printare.css" />

    <script src="https://kit.fontawesome.com/6f092a9687.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
