<body>
    <div id="watermark-print">
        Niculae<br>Maria-Alexandra
    </div>
    <header>
        <section id="titlu">
            <hgroup>
                <h1 id="t">StackReader</h1>
                <p><i>Lumea cărților la picioarele tale</i></p>
            </hgroup>
            <p id="info-ip">IP-ul tău: <%= ip %></p>
        </section>
        <nav>
            <div>
                <label id="hamburger" for="ch-menu">
                    <span class="linie-hamburger"></span>
                    <span class="linie-hamburger"></span>
                    <span class="linie-hamburger"></span>
                </label>
            </div>

            <input type="checkbox" id="ch-menu">
            <ul class="meniu">
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i> <span class="text-meniu">Acasă</span>
                    </a>
                    <ul>
                        <li><a href="/#recomandare-editor">Noutăți & Bestsellers</a></li>
                        <li><a href="/#promotii">Promoții</a></li>
                        <li><a href="/#evenimente">Evenimente</a></li>
                        <li><a href="/#galerie-statica">Galerie Colecții</a></li>
                        <li><a href="/#resurse-externe">Resurse Externe</a></li>
                        <li><a href="/#evenimente-video">Evenimente Video</a></li>
                        <li><a href="/#orar-sediu">Program</a></li>
                        <li><a href="/#faq-si-detalii">Intrebari frecvente</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="/produse">
                        <i class="fa-solid fa-book-open"></i> <span class="text-meniu">Produse</span>
                    </a>
                    <ul>
                        <li><a href="/galerie-statica">Galerie Statică</a></li>
                        <li><a href="/galerie-dinamica">Galerie Dinamică</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/despre">
                        <i class="fa-solid fa-circle-info"></i> <span class="text-meniu">Despre noi</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <i class="fa-solid fa-envelope"></i> <span class="text-meniu">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
